button {
  padding: .3em .6em;
  margin-top: 5px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  background: #58a linear-gradient(hsla(0, 0%, 100%, .2), transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
  color: white;
  text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
  font-size: 100%;
  line-height: 1.5;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &.btn-add-task {
    background-color: #6b0;
  }
  &.btn-cansel-add-task {
    background-color: #eb0000;
  }
}

a.btn-remove {
  background-image: url("../../src/img/icon-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  display: block;
}
.open-list-composer , .btn-clear-all{
  display: inline-block;
  color: #8c8c8c;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.btn-remove-list{
  height: 14px;
  width: 14px;
  display: block;
  cursor: pointer;
  margin-left: 10px;

  &::after{
    content: "\00d7";
    color: #fff;
    font-size: 24px;
    transform: translateY(-50%);
    position: absolute;
    top: 45%;


  }
}
#todoBuilder{
  background: $secondary;
  position: absolute;
  top: 8px;
  left: 80px;
  border-radius: 100%;
  padding: 0 20px;
  z-index: 10;
  &::after{
    content: '+';
    font-size: 45px;
  }
}
.btn-clear-all{
  padding-right: 20px;
  border-right: 1px solid #8c8c8c;
  & + label{
    padding-left: 20px;
  }
}
@media (max-width: 540px) {
  #todoBuilder{
    position: fixed;
    top: 80vh;
    left: 80vw;


  }

}
