button {
  padding: .3em .6em;
  margin-top: 5px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  background: #58a linear-gradient(hsla(0, 0%, 100%, .2), transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
  color: white;
  font-size: 100%;
  line-height: 1.5;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &.btn-add-task {
    background-color: #6b0;
  }
  &.btn-cansel-add-task {
    background-color: #eb0000;
  }
}

a.btn-remove {
  background-image: url("../../src/img/icon-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  display: block;
}

.btn-remove-list{
  height: 14px;
  width: 14px;
  display: block;
  cursor: pointer;
  margin-left: 10px;

  &::after{
    content: "\00d7";
    color: #fff;
    font-size: 24px;
    transform: translateY(-50%);
    position: absolute;
    padding: 10px;
    right: 2px;
    top: 45%;


  }
}
#todoBuilder{
  background: $secondary;
  position: absolute;
  top: 25px;
  left: 80px;
  border-radius: 100%;
  padding: 18px;
  z-index: 10;
  color: #fff;
  @include mat-elevation-6dp;
  &::after{
    content: "";
    background-image: url("../../src/img/add.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 24px;
    width: 24px;
  }
}
.btn-clear-all{
  padding: 0 12px;
  height: 36px;
  display: inline-block;
  line-height: 36px;
  cursor: pointer;
  transition: all .4s cubic-bezier(.25,.8,.25,1);
  border-radius: 2px;
  float: right;
  background: 0;
  color: rgba(0, 0, 0, 0.6);
  &:hover{
    background: rgba(0,0,0,.12);
  }
  & + label{
    padding-left: 20px;
  }
}
@media (max-width: 540px) {
  #todoBuilder {
    position: fixed;
    top: calc(100vh - 72px);
    left: calc(100vw - 64px);
    padding: 15px;

  }
}
