header{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #607D8B;
  @include toolbar-shadow;
  @media (max-width: 540px) {
    height: 75px;
  }
  h2{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 36px;
    font-weight:800;
  }
}